body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}

#page-logo {
  color: rgb(183, 230, 235);
}

header {
  position: static;
}

header nav a {
  color: rgb(183, 230, 235);
}

header nav a:hover {
  background-color: rgb(183, 230, 235);
  color: rgb(59, 59, 59);
  border-radius: 5px;
  padding: 5px 5px;
}

#about-me {
  position: relative;
  object-position: center;
}

#about-me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

#about-me h4 {
  color: rgb(187, 178, 178);
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}
